body{
    margin: 40px;
}
.content{
    background-color: rgb(200, 236, 236);
    padding:30px;
}
h1{
    background-color: rgb(92, 163, 163);
    padding: 10px;
}
h2{
    background-color: rgb(84, 197, 197);
    padding: 10px;
}
input[type="submit"]{
    border:none;
    background-color: rgb(16, 97, 97);
    color:antiquewhite;
    font-family: 'Courier New', Courier, monospace;
    padding: 12px 20px;
    border-radius: 4px;
    width:100%;
}
input[type="submit"]:hover{
    cursor: pointer;
}